@charset "UTF-8";
@import url("//hello.myfonts.net/count/253fe7");
/*=====================================================================
  Styles for Longhouse, by @marciobarrios
  =====================================================================*/
/*=====================================================================
  MIXINS
  A good advise: "mixins without arguments smell..."
  =====================================================================*/
/* Example
  .page-wrap
    .main-content
    .main-nav
    .main.sidebar

.page-wrap { @include flexbox-display-flex;}
.main-content { @include flexbox-order(2); width: 60%; }
.main-nav { @include flexbox-order(1); @include flexbox-flex(20%); }
.main-sidebar { @include flexbox-order(3); @include flexbox-flex(20%); }
*/
/*=====================================================================
  NORMALIZE

  Normalize styles across different browsers, based in:
  - Nomalize.css: http://cl.ly/KXpL
  - Inuitcss: http://cl.ly/KYEj
  =====================================================================*/
/*
  HTML5 fixes for IE8/9
  ===================================================================== */
/* line 15, ../../app/styles/scss/base/_normalize.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, nav, section, summary {
  display: block;
}

/* line 20, ../../app/styles/scss/base/_normalize.scss */
audio, canvas, video {
  display: inline-block;
}

/* line 24, ../../app/styles/scss/base/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 27, ../../app/styles/scss/base/_normalize.scss */
[hidden] {
  display: none;
}

/*
  General
  ===================================================================== */
/* line 45, ../../app/styles/scss/base/_normalize.scss */
body,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul,
form, fieldset, legend, input, textarea,
table, th, td, caption,
figure,
hr {
  margin: 0;
  padding: 0;
}

/* line 51, ../../app/styles/scss/base/_normalize.scss */
html {
  min-height: 100%;
  font-size: 100%;
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 60, ../../app/styles/scss/base/_normalize.scss */
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* line 69, ../../app/styles/scss/base/_normalize.scss */
#mapCanvas label {
  width: auto;
  display: inline;
}

/* line 70, ../../app/styles/scss/base/_normalize.scss */
#mapCanvas img {
  max-width: none;
}

/* line 73, ../../app/styles/scss/base/_normalize.scss */
a {
  text-decoration: none;
}

/* line 75, ../../app/styles/scss/base/_normalize.scss */
* {
  outline: none;
}

/*
  Typography
  ===================================================================== */
/* line 88, ../../app/styles/scss/base/_normalize.scss */
abbr, acronym {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 90, ../../app/styles/scss/base/_normalize.scss */
b, strong, mark {
  font-weight: bold;
}

/* line 92, ../../app/styles/scss/base/_normalize.scss */
code, pre {
  font-family: monospace, serif;
  font-size: 1em;
}

/* line 95, ../../app/styles/scss/base/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 97, ../../app/styles/scss/base/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/* line 99, ../../app/styles/scss/base/_normalize.scss */
small {
  font-size: 80%;
}

/* line 102, ../../app/styles/scss/base/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 109, ../../app/styles/scss/base/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 111, ../../app/styles/scss/base/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 113, ../../app/styles/scss/base/_normalize.scss */
p, li {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
}

/*
  Forms
  ===================================================================== */
/* line 123, ../../app/styles/scss/base/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 130, ../../app/styles/scss/base/_normalize.scss */
legend {
  border: 0;
}

/* line 134, ../../app/styles/scss/base/_normalize.scss */
button, input, select, textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
}

/* line 141, ../../app/styles/scss/base/_normalize.scss */
button, input {
  *overflow: visible;
}

/* line 145, ../../app/styles/scss/base/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* line 151, ../../app/styles/scss/base/_normalize.scss */
input, textarea {
  margin: 0;
  vertical-align: bottom;
}

/* line 154, ../../app/styles/scss/base/_normalize.scss */
textarea {
  overflow: auto;
}

/* line 162, ../../app/styles/scss/base/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

/* line 168, ../../app/styles/scss/base/_normalize.scss */
label, input, textarea, button, select, option {
  cursor: pointer;
}

/* line 175, ../../app/styles/scss/base/_normalize.scss */
.input[type=text]:active, .input[type=text]:focus,
.input[type=password]:active, .input[type=password]:focus,
.input[type=search]:active, .input[type=search]:focus,
textarea:active, textarea:focus {
  cursor: text;
  outline: none;
}

/* line 181, ../../app/styles/scss/base/_normalize.scss */
button[disabled], input[disabled] {
  cursor: default;
}

/* line 184, ../../app/styles/scss/base/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
}

/* line 188, ../../app/styles/scss/base/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 193, ../../app/styles/scss/base/_normalize.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 195, ../../app/styles/scss/base/_normalize.scss */
[contenteditable] {
  outline: none;
  word-wrap: break-word;
}

/*
  Tables
  ===================================================================== */
/* line 202, ../../app/styles/scss/base/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

/* line 203, ../../app/styles/scss/base/_normalize.scss */
td {
  vertical-align: top;
}

/* line 204, ../../app/styles/scss/base/_normalize.scss */
caption, th {
  text-align: left;
}

/* @license
 * MyFonts Webfont Build ID 2441191, 2013-01-03T14:04:40-0500
 *
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are
 * explicitly restricted from using the Licensed Webfonts(s).
 *
 * You may obtain a valid license at the URLs below.
 *
 * Webfont: Campland Letters by Magpie Paper Works
 * URL: http://www.myfonts.com/fonts/magpiepaperworks/campland/letters/
 *
 * Webfont: Campland Ornaments by Magpie Paper Works
 * URL: http://www.myfonts.com/fonts/magpiepaperworks/campland/ornaments/
 *
 *
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=2441191
 * Webfonts copyright: Copyright (c) 2011 by Magpie Paper Works LLC. All rights reserved.
 *
 * © 2013 Bitstream Inc
*/
/* @import must be at top of file, otherwise CSS will not work */
@font-face {
  font-family: 'CamplandLetters';
  src: url("fonts/Campland/253FE7_0_0.eot");
  src: url("fonts/Campland/253FE7_0_0.eot?#iefix") format("embedded-opentype"), url("fonts/Campland/253FE7_0_0.woff") format("woff"), url("fonts/Campland/253FE7_0_0.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Campland';
  src: url("fonts/Campland/253FE7_1_0.eot");
  src: url("fonts/Campland/253FE7_1_0.eot?#iefix") format("embedded-opentype"), url("fonts/Campland/253FE7_1_0.woff") format("woff"), url("fonts/Campland/253FE7_1_0.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'trashhandregular';
  src: url("fonts/TrashHand/trashhand-webfont.eot");
  src: url("fonts/TrashHand/trashhand-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/TrashHand/trashhand-webfont.woff") format("woff"), url("fonts/TrashHand/trashhand-webfont.ttf") format("truetype"), url("fonts/TrashHand/trashhand-webfont.svg#trashhandregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*=====================================================================
  GRID SYSTEM
  =====================================================================*/
/* line 190, ../../app/styles/scss/global/_mixins.scss */
.row {
  margin-left: -20px;
}
/* line 28, ../../app/styles/scss/global/_mixins.scss */
.row:before, .row:after {
  content: " ";
  display: table;
}
/* line 29, ../../app/styles/scss/global/_mixins.scss */
.row:after {
  clear: both;
}

/* line 195, ../../app/styles/scss/global/_mixins.scss */
[class*="span"] {
  float: left;
  margin-left: 20px;
}

/* line 204, ../../app/styles/scss/global/_mixins.scss */
.container,
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
  width: 1000px;
}

/* line 211, ../../app/styles/scss/global/_mixins.scss */
.span12 {
  width: 1000px;
}

/* line 211, ../../app/styles/scss/global/_mixins.scss */
.span11 {
  width: 915px;
}

/* line 211, ../../app/styles/scss/global/_mixins.scss */
.span10 {
  width: 830px;
}

/* line 211, ../../app/styles/scss/global/_mixins.scss */
.span9 {
  width: 745px;
}

/* line 211, ../../app/styles/scss/global/_mixins.scss */
.span8 {
  width: 660px;
}

/* line 211, ../../app/styles/scss/global/_mixins.scss */
.span7 {
  width: 575px;
}

/* line 211, ../../app/styles/scss/global/_mixins.scss */
.span6 {
  width: 490px;
}

/* line 211, ../../app/styles/scss/global/_mixins.scss */
.span5 {
  width: 405px;
}

/* line 211, ../../app/styles/scss/global/_mixins.scss */
.span4 {
  width: 320px;
}

/* line 211, ../../app/styles/scss/global/_mixins.scss */
.span3 {
  width: 235px;
}

/* line 211, ../../app/styles/scss/global/_mixins.scss */
.span2 {
  width: 150px;
}

/* line 211, ../../app/styles/scss/global/_mixins.scss */
.span1 {
  width: 65px;
}

/* line 217, ../../app/styles/scss/global/_mixins.scss */
.offset12 {
  margin-left: 1040px;
}

/* line 217, ../../app/styles/scss/global/_mixins.scss */
.offset11 {
  margin-left: 955px;
}

/* line 217, ../../app/styles/scss/global/_mixins.scss */
.offset10 {
  margin-left: 870px;
}

/* line 217, ../../app/styles/scss/global/_mixins.scss */
.offset9 {
  margin-left: 785px;
}

/* line 217, ../../app/styles/scss/global/_mixins.scss */
.offset8 {
  margin-left: 700px;
}

/* line 217, ../../app/styles/scss/global/_mixins.scss */
.offset7 {
  margin-left: 615px;
}

/* line 217, ../../app/styles/scss/global/_mixins.scss */
.offset6 {
  margin-left: 530px;
}

/* line 217, ../../app/styles/scss/global/_mixins.scss */
.offset5 {
  margin-left: 445px;
}

/* line 217, ../../app/styles/scss/global/_mixins.scss */
.offset4 {
  margin-left: 360px;
}

/* line 217, ../../app/styles/scss/global/_mixins.scss */
.offset3 {
  margin-left: 275px;
}

/* line 217, ../../app/styles/scss/global/_mixins.scss */
.offset2 {
  margin-left: 190px;
}

/* line 217, ../../app/styles/scss/global/_mixins.scss */
.offset1 {
  margin-left: 105px;
}

/* line 13, ../../app/styles/scss/base/_grid.scss */
[class*="span"].hide,
.row-fluid [class*="span"].hide {
  display: none;
}

/* line 18, ../../app/styles/scss/base/_grid.scss */
[class*="span"].pull-right,
.row-fluid [class*="span"].pull-right {
  float: right;
}

/* line 2, ../../app/styles/scss/base/_layout.scss */
.container {
  margin-right: auto;
  margin-left: auto;
}
/* line 28, ../../app/styles/scss/global/_mixins.scss */
.container:before, .container:after {
  content: " ";
  display: table;
}
/* line 29, ../../app/styles/scss/global/_mixins.scss */
.container:after {
  clear: both;
}

/* line 7, ../../app/styles/scss/base/_layout.scss */
.container-fluid {
  padding-right: 20px;
  padding-left: 20px;
}
/* line 28, ../../app/styles/scss/global/_mixins.scss */
.container-fluid:before, .container-fluid:after {
  content: " ";
  display: table;
}
/* line 29, ../../app/styles/scss/global/_mixins.scss */
.container-fluid:after {
  clear: both;
}

/*=====================================================================
  Vertical rythm
  =====================================================================*/
/*=====================================================================
  UTILS
  =====================================================================*/
/*
  Micro clearfix: nicolasgallagher.com/micro-clearfix-hack
 */
/* line 28, ../../app/styles/scss/global/_mixins.scss */
.clearfix:before, .clearfix:after, .cf:before, .cf:after {
  content: " ";
  display: table;
}
/* line 29, ../../app/styles/scss/global/_mixins.scss */
.clearfix:after, .cf:after {
  clear: both;
}

/*
  Helper to generate vertical center aligned blocks
  1. In some circunstances needs height in px
 */
/* line 15, ../../app/styles/scss/base/_utils.scss */
.v-align-container:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
  /* adjust spacing for helvetica/arial */
}

/* line 23, ../../app/styles/scss/base/_utils.scss */
.v-align {
  vertical-align: middle;
}

/*
  Another helper to align vertical elements w/ display: table
 */
/* line 28, ../../app/styles/scss/base/_utils.scss */
.table {
  display: table;
}

/* line 29, ../../app/styles/scss/base/_utils.scss */
.cell {
  display: table-cell;
  vertical-align: middle;
}

/*
  Some general helpers
 */
/* line 34, ../../app/styles/scss/base/_utils.scss */
.left {
  float: left;
}

/* line 35, ../../app/styles/scss/base/_utils.scss */
.right {
  float: right;
}

/* line 36, ../../app/styles/scss/base/_utils.scss */
.hide {
  display: none !important;
}

/*
  hr separators
 */
/* line 41, ../../app/styles/scss/base/_utils.scss */
hr {
  display: block;
  margin: 0 20px;
  height: 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #fff;
}

/*=====================================================================
  DISPLAY
  =====================================================================*/
/* line 5, ../../app/styles/scss/base/_display.scss */
.inb {
  display: inline-block;
}

/* line 6, ../../app/styles/scss/base/_display.scss */
.block {
  display: block;
}

/* line 8, ../../app/styles/scss/base/_display.scss */
.pr {
  position: relative;
}

/*=====================================================================
  TEXT-RELATED styles
  =====================================================================*/
/* line 5, ../../app/styles/scss/base/_text.scss */
.text-left {
  text-align: left;
}

/* line 6, ../../app/styles/scss/base/_text.scss */
.text-right {
  text-align: right;
}

/* line 7, ../../app/styles/scss/base/_text.scss */
.text-center {
  text-align: center;
}

/*
  Image replacement technique based on
  nicolasgallagher.com/another-css-image-replacement-technique/
 */
/* line 13, ../../app/styles/scss/base/_text.scss */
.hide-text, .ir {
  background: transparent;
  border: 0;
  color: transparent;
  font: 0/0 a;
  text-shadow: none;
}

/*
  Truncate text
 */
/* line 24, ../../app/styles/scss/base/_text.scss */
.ellipsis {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*=====================================================================
  Lists
  =====================================================================*/
/* line 6, ../../app/styles/scss/base/_lists.scss */
.inb-list, .inb-list--xs, .inb-list--s, .inb-list--m {
  list-style: none;
  letter-spacing: -0.25em;
}

/* line 7, ../../app/styles/scss/base/_lists.scss */
.inb-list > li, .inb-list--xs > li, .inb-list--s > li, .inb-list--m > li, .inb-list-item, .inb-list--xs > li, .inb-list--s > li, .inb-list--m > li {
  display: inline-block;
  vertical-align: middle;
  letter-spacing: 0;
}

/* line 10, ../../app/styles/scss/base/_lists.scss */
.inb-list--xs {
  margin-left: -4px;
}

/* line 11, ../../app/styles/scss/base/_lists.scss */
.inb-list--xs > li {
  margin-left: 4px;
}

/* line 12, ../../app/styles/scss/base/_lists.scss */
.inb-list--s {
  margin-left: -8px;
}

/* line 13, ../../app/styles/scss/base/_lists.scss */
.inb-list--s > li {
  margin-left: 8px;
}

/* line 14, ../../app/styles/scss/base/_lists.scss */
.inb-list--m {
  margin-left: -12px;
}

/* line 15, ../../app/styles/scss/base/_lists.scss */
.inb-list--m > li {
  margin-left: 12px;
}

/*=====================================================================
  BUTTONS
  =====================================================================*/
/* line 6, ../../app/styles/scss/base/_buttons.scss */
.button, .bt {
  display: inline-block;
  padding: 12px 30px;
  font-size: 14px;
  font-size: 0.77778rem;
  line-height: 1;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: 1px solid #b5b4ae;
  color: #66635f;
  border-radius: 99px;
  background: white;
  -webkit-transition: 0.25s 0.2s ease-in;
  transition: 0.25s 0.2s ease-in;
}
/* line 23, ../../app/styles/scss/base/_buttons.scss */
.button:hover, .bt:hover {
  text-decoration: none;
  border-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.2);
}
/* line 30, ../../app/styles/scss/base/_buttons.scss */
.button:focus, .bt:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
/* line 36, ../../app/styles/scss/base/_buttons.scss */
.button.active, .button:active, .bt.active, .bt:active {
  outline: 0;
}
/* line 42, ../../app/styles/scss/base/_buttons.scss */
.button.disabled, .button[disabled], .bt.disabled, .bt[disabled] {
  cursor: default;
  background-color: #e6e6e6;
  opacity: 65;
  filter: alpha(opacity=6500);
  box-shadow: none;
}

@media print {
  /* line 2, ../../app/styles/scss/base/_print.scss */
  * {
    background: none !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    /* Images, vectors and such */
    filter: Gray();
    /* IE4-8: deprecated */
    filter: url("assets/desaturate.svg#grayscale");
    /* SVG version for IE10, Firefox, Safari 5 and Opera */
    -webkit-filter: grayscale(100%);
    /* Chrome + Safari 6 */
    -moz-filter: grayscale(100%);
    /* Future proof */
    -ms-filter: grayscale(100%);
    /* Future proof */
    -o-filter: grayscale(100%);
    /* Future proof */
    filter: grayscale(100%);
    /* Future proof or polyfilled */
  }

  /* line 18, ../../app/styles/scss/base/_print.scss */
  a {
    text-decoration: underline;
  }

  /* line 20, ../../app/styles/scss/base/_print.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 22, ../../app/styles/scss/base/_print.scss */
  a[href="#"], a[href="javascript:"] {
    content: "";
  }
}
/* line 33, ../../app/styles/scss/components/_looper.scss */
.looper {
  position: relative;
  z-index: 1;
  width: auto;
  height: auto;
}
/* line 40, ../../app/styles/scss/components/_looper.scss */
.looper .looper-inner {
  overflow: hidden;
  width: 100%;
  height: auto;
  position: relative;
  z-index: 2;
}

/* line 51, ../../app/styles/scss/components/_looper.scss */
.looper .item {
  display: none;
  position: relative;
  z-index: 3;
}
/* line 58, ../../app/styles/scss/components/_looper.scss */
.looper .item.active, .looper .item.next, .looper .item.prev {
  display: block;
}
/* line 62, ../../app/styles/scss/components/_looper.scss */
.looper .item.active {
  top: 0;
  left: 0;
  z-index: 4;
}
/* line 69, ../../app/styles/scss/components/_looper.scss */
.looper .item > img {
  display: block;
  line-height: 1;
}
/* line 77, ../../app/styles/scss/components/_looper.scss */
.looper.xfade .looper-inner {
  height: 100%;
}
/* line 81, ../../app/styles/scss/components/_looper.scss */
.looper.xfade .item {
  -webkit-transition: opacity 0.5s ease-in;
  transition: opacity 0.5s ease-in;
  position: absolute;
  width: 100%;
  opacity: 0;
}
/* line 87, ../../app/styles/scss/components/_looper.scss */
.looper.xfade .item.go {
  opacity: 1;
}
/* line 91, ../../app/styles/scss/components/_looper.scss */
.looper.xfade .item.active {
  opacity: 1;
}
/* line 94, ../../app/styles/scss/components/_looper.scss */
.looper.xfade .item.active.go {
  opacity: 0;
}
/* line 105, ../../app/styles/scss/components/_looper.scss */
.looper.slide.xfade .item {
  -webkit-transition: left 0.5s ease-in-out, opacity 0.5s ease-in;
  transition: left 0.5s ease-in-out, opacity 0.5s ease-in;
}
/* line 111, ../../app/styles/scss/components/_looper.scss */
.looper.slide .item {
  -webkit-transition: left 0.5s ease-in-out;
  transition: left 0.5s ease-in-out;
}
/* line 116, ../../app/styles/scss/components/_looper.scss */
.looper.slide .item.next, .looper.slide .item.prev {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
/* line 124, ../../app/styles/scss/components/_looper.scss */
.looper.slide .item.next {
  left: 100%;
}
/* line 127, ../../app/styles/scss/components/_looper.scss */
.looper.slide .item.prev {
  left: -100%;
}
/* line 132, ../../app/styles/scss/components/_looper.scss */
.looper.slide .item.active.prev, .looper.slide .item.active.next {
  position: relative;
  left: 0;
}
/* line 137, ../../app/styles/scss/components/_looper.scss */
.looper.slide .item.go {
  left: 0;
}
/* line 140, ../../app/styles/scss/components/_looper.scss */
.looper.slide .item.go.active {
  left: -100%;
}
/* line 143, ../../app/styles/scss/components/_looper.scss */
.looper.slide .item.go.active.prev {
  left: 100%;
}
/* line 155, ../../app/styles/scss/components/_looper.scss */
.looper.slide.right .item.next {
  left: -100%;
}
/* line 160, ../../app/styles/scss/components/_looper.scss */
.looper.slide.right .item.prev {
  left: 100%;
}
/* line 164, ../../app/styles/scss/components/_looper.scss */
.looper.slide.right .item.go {
  left: 0;
}
/* line 167, ../../app/styles/scss/components/_looper.scss */
.looper.slide.right .item.go.active {
  left: 100%;
}
/* line 170, ../../app/styles/scss/components/_looper.scss */
.looper.slide.right .item.go.active.prev {
  left: -100%;
}
/* line 181, ../../app/styles/scss/components/_looper.scss */
.looper.slide.down .looper-inner {
  height: 100%;
}
/* line 185, ../../app/styles/scss/components/_looper.scss */
.looper.slide.down .item {
  -webkit-transition: top 0.5s ease-in-out;
  transition: top 0.5s ease-in-out;
}
/* line 189, ../../app/styles/scss/components/_looper.scss */
.looper.slide.down .item.next, .looper.slide.down .item.prev {
  left: 0;
}
/* line 194, ../../app/styles/scss/components/_looper.scss */
.looper.slide.down .item.next {
  top: -100%;
}
/* line 199, ../../app/styles/scss/components/_looper.scss */
.looper.slide.down .item.prev {
  top: 100%;
}
/* line 203, ../../app/styles/scss/components/_looper.scss */
.looper.slide.down .item.go {
  top: 0;
}
/* line 206, ../../app/styles/scss/components/_looper.scss */
.looper.slide.down .item.go.active {
  top: 100%;
  left: 0;
}
/* line 210, ../../app/styles/scss/components/_looper.scss */
.looper.slide.down .item.go.active.prev {
  top: -100%;
}
/* line 217, ../../app/styles/scss/components/_looper.scss */
.looper.slide.down.xfade .item {
  -webkit-transition: top 0.5s ease-in-out, opacity 0.5s ease-in;
  transition: top 0.5s ease-in-out, opacity 0.5s ease-in;
}
/* line 228, ../../app/styles/scss/components/_looper.scss */
.looper.slide.up .looper-inner {
  height: 100%;
}
/* line 232, ../../app/styles/scss/components/_looper.scss */
.looper.slide.up .item {
  -webkit-transition: top 0.5s ease-in-out;
  transition: top 0.5s ease-in-out;
}
/* line 236, ../../app/styles/scss/components/_looper.scss */
.looper.slide.up .item.next, .looper.slide.up .item.prev {
  left: 0;
}
/* line 241, ../../app/styles/scss/components/_looper.scss */
.looper.slide.up .item.next {
  top: 100%;
}
/* line 246, ../../app/styles/scss/components/_looper.scss */
.looper.slide.up .item.prev {
  top: -100%;
}
/* line 250, ../../app/styles/scss/components/_looper.scss */
.looper.slide.up .item.go {
  top: 0;
}
/* line 253, ../../app/styles/scss/components/_looper.scss */
.looper.slide.up .item.go.active {
  top: -100%;
  left: 0;
}
/* line 257, ../../app/styles/scss/components/_looper.scss */
.looper.slide.up .item.go.active.prev {
  top: 100%;
}
/* line 264, ../../app/styles/scss/components/_looper.scss */
.looper.slide.up.xfade .item {
  -webkit-transition: top 0.5s ease-in-out, opacity 0.5s ease-in;
  transition: top 0.5s ease-in-out, opacity 0.5s ease-in;
}

/* line 277, ../../app/styles/scss/components/_looper.scss */
.looper-control {
  position: absolute;
  z-index: 5;
  top: 50%;
  left: -20px;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  font-size: 30px;
  line-height: 40px;
  color: white;
  text-align: center;
  cursor: pointer;
  background: #333333;
  border: 3px solid white;
  border-radius: 23px;
  opacity: 50;
  filter: alpha(opacity=5000);
  -webkit-transition: none;
  transition: none;
}
/* line 302, ../../app/styles/scss/components/_looper.scss */
.looper-control.right {
  left: auto;
  right: -20px;
}
/* line 308, ../../app/styles/scss/components/_looper.scss */
.looper-control:hover {
  color: white;
  text-decoration: none;
  text-shadow: none;
  opacity: 90;
  filter: alpha(opacity=9000);
}

/* line 320, ../../app/styles/scss/components/_looper.scss */
.looper-nav {
  background: transparent;
  text-align: center;
  list-style-type: none;
  margin: 0;
}
/* line 328, ../../app/styles/scss/components/_looper.scss */
.looper-nav > li a {
  color: #049cdb;
}
/* line 330, ../../app/styles/scss/components/_looper.scss */
.looper-nav > li a:hover {
  color: #036690;
}
/* line 335, ../../app/styles/scss/components/_looper.scss */
.looper-nav > li.active a, .looper-nav > li.active a:hover {
  color: #036690;
}

/*=====================================================================
  Longhouse specific styles
  =====================================================================*/
/* line 5, ../../app/styles/scss/_longhouse.scss */
html {
  font-family: "brandon-grotesque", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.33333;
  color: #797770;
  background-color: white;
}

/* Links */
/* line 14, ../../app/styles/scss/_longhouse.scss */
a {
  color: #0088cc;
  text-decoration: none;
}
/* line 18, ../../app/styles/scss/_longhouse.scss */
a:hover {
  color: #005580;
  text-decoration: none;
}

/* Common */
/* line 25, ../../app/styles/scss/_longhouse.scss */
.section-title {
  font-family: "trashhandregular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 35px;
  font-size: 1.94444rem;
  text-transform: uppercase;
}

/* line 30, ../../app/styles/scss/_longhouse.scss */
.section-title:after {
  content: "";
  display: block;
  position: absolute;
  margin-top: 5px;
  width: 30px;
  height: 1px;
  background: #999;
}

/* line 40, ../../app/styles/scss/_longhouse.scss */
.box-space {
  padding: 45px 0;
}

/* Titles */
/* line 43, ../../app/styles/scss/_longhouse.scss */
h1 {
  font-family: "ltc-bodoni-175", Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
  font-size: 87px;
  font-size: 4.83333rem;
}

/* Header */
/* line 50, ../../app/styles/scss/_longhouse.scss */
header {
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
}

/* line 51, ../../app/styles/scss/_longhouse.scss */
header h1 {
  width: 710px;
  padding-bottom: 60px;
  margin-top: 30px;
  line-height: 1;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

/* line 58, ../../app/styles/scss/_longhouse.scss */
header h2 {
  margin-top: 110px;
  line-height: 1.2;
}

/* Big top slider */
/* line 61, ../../app/styles/scss/_longhouse.scss */
.top-slider, .top-slider .item {
  height: 630px;
}

/* line 62, ../../app/styles/scss/_longhouse.scss */
.top-slider .item {
  background-image: url("../images/top-slider-1.jpg");
  background-size: cover;
}

/* line 63, ../../app/styles/scss/_longhouse.scss */
.top-slider .item + .item {
  background-image: url("../images/top-slider-2.jpg");
}

/* line 64, ../../app/styles/scss/_longhouse.scss */
.top-slider .item + .item + .item {
  background-image: url("../images/top-slider-1.jpg");
}

/* line 66, ../../app/styles/scss/_longhouse.scss */
.looper-nav {
  margin-top: -44px;
  z-index: 2;
}

/* line 67, ../../app/styles/scss/_longhouse.scss */
.looper-nav a {
  width: 7px;
  height: 7px;
  border: 3px solid white;
  box-shadow: 0 1px rgba(0, 0, 0, 0.4);
  border-radius: 50%;
}

/* line 74, ../../app/styles/scss/_longhouse.scss */
.looper-nav .active a {
  background: white;
}

/* Main navigation */
/* line 79, ../../app/styles/scss/_longhouse.scss */
.main-nav, .main-nav > .container {
  background: #231f1a;
  height: 100px;
}

/* line 80, ../../app/styles/scss/_longhouse.scss */
.main-nav .inb-list-offset {
  margin-left: -30px;
}

/* line 81, ../../app/styles/scss/_longhouse.scss */
.main-nav .inb-list-offset > li {
  margin-left: 30px;
  text-transform: uppercase;
}

/* line 82, ../../app/styles/scss/_longhouse.scss */
.main-nav a {
  color: #d5d2cf;
  font-size: 14px;
  font-size: 0.77778rem;
}

/* line 84, ../../app/styles/scss/_longhouse.scss */
.logo {
  margin-top: 30px;
}

/* About section in home */
/* line 87, ../../app/styles/scss/_longhouse.scss */
.about {
  background: #f4f4ef;
}
