/*=====================================================================
  DISPLAY
  =====================================================================*/

.inb   { display: inline-block; }
.block { display: block; }

.pr { position: relative; }
